* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body {
  background-color: #F8FAFC;
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.loading-skeleton {
  animation: pulse 1.5s infinite ease-in-out;
}